APP_NAME="Tech Solutions - Gestion de Proyectos"
APP_ENV=local
APP_KEY=base64:kVJDQ5eV02HnBME2ueuyoK1UweNVzlM8nEnFaToNw40=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# --- Configuración de Base de Datos (SQLite) ---
DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=
# DB_USERNAME=
# DB_PASSWORD=

# --- Drivers estándar de Laravel ---
BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# --- Configuración JWT ---
JWT_SECRET=cambia_esta_clave_secreta_super_segura_123
JWT_EXPIRE_SECONDS=3600