/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
DuskTestimonial/
__MACOSX
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log*
composer.lock